body {
	background-image: url(../img/stardust.png);
}

/*the iphone image*/
.home {
	background-image: url(../img/flat-iphone-mockups.png);
	margin: auto;
	padding-top: 5%;
	padding-bottom: 15%;
	background-size: 75% 100%;
	background-repeat: no-repeat;
    background-position: center; 
}

form {
	padding-left: 5%;
}

/*the slideshow*/
#slideshow { 
    margin-top: 5px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
}

#slideshow > div { 
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

/*the positioning of the image*/
img {
	margin-top: 50%;
	margin-left: 15%;
}